body {
    background: #2c2c2c !important;
    color: #fff;
}

h1 {
    color: #fff;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

.logo {
    font-size: 2rem;
    margin-left: 10px;
    font-weight: bold;

}

aside ul {
    list-style: none;
}

aside ul li a {
    color: #fff;
    display: block;
    margin-top: 20px;

}

aside h3 {
    margin-top: 50px;
}

h1 {
    font-size: 50px;
}

aside {
    position: relative;
    z-index: 9;
}

* {
    color: #fff !important;
}

.alert-warning {
    float: left;
    width: 400px;
    text-align: left;
}
body {
    text-align: center;
}

form {
    text-align: center;
    width: 500px;
    float: left;
    margin-left: 520px;
    margin-top: 60px;
}

input, textarea {
    color: #000 !important;
}